/* AddBanner.css */

.add-banner-section {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
}

.upload-container {
    position: relative;
    width: 100%;
    padding-top: 56.25%; /* 16:9 Aspect Ratio */
    background-color: white;
    border: 4px solid grey;
    overflow: hidden;
    cursor: pointer;
}

.upload-label {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0.8;
    transition: opacity 0.3s ease;
}

.upload-label:hover {
    opacity: 1;
}

.preview-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.placeholder-text {
    color: #777;
    font-size: 16px;
}
